@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "USUARIOS";
}
@section Estilos{
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Gestor Usuarios
        </div>
        <div class="card-body">
            <table id="tb-user">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Contraseña</th>
                        <th>Permiso</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Contraseña</th>
                        <th>Permiso</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Script{
    <script src="https://code.jquery.com/jquery-3.7.0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script>
        new DataTable('#tb-user', {
            language: {
                search: "Buscar:", 
                emptyTable: "No hay datos",
                paginate: {
                    first: "Primera",
                    last: "Ultima",
                    next: "Siguiente",
                    previous: "Anterior"
                },
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrar _START_ pagina de _TOTAL_ paginas",
                infoEmpty: "Mostrar 0 pagina de 0 paginas",
            } 
        })
    </script>
}
